body {
  background-color: #707EFF;
  max-height: 100%;
  max-width: 100%;
  font-family: 'Inter', sans-serif;`
}

h1 {
  color: white;
  display:table-cell;
  vertical-align:middle

}

#text_holder{
  height: 5%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

#bg {
  width: 50%;
  height: 60%;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 2%;
}

#display {
  display: flex;
  justify-content: center;
  height: 800px;
}
