@import url("https://fonts.googleapis.com/css?family=Inter:400,700");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* welcome page */
.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.welcome-page {
  align-items: flex-end;
  background-color: #707EFF;
  display: flex;
  flex-direction: column;
  height: 900px;
  padding: 72px 100px;
  width: 1440px;
}

.logo {
  align-self: center;
  height: 274px;
  object-fit: cover;
  width: 710px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-top: 2px;
  min-width: 1238px;
}

.overlap-group1 {
  height: 411px;
  position: relative;
  width: 613px;
}

.rectangle-1 {
  background-color: white;
  cursor: pointer;
  height: 336px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 613px;
}

.title {
  cursor: pointer;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 373px;
}

.polygon-1 {
  height: 137px;
  left: 252px;
  object-fit: cover;
  position: absolute;
  top: 171px;
  width: 106px;
}

.clipart2739949-1 {
  height: 247px;
  left: 152px;
  object-fit: cover;
  position: absolute;
  top: 118px;
  width: 318px;
}

.overlap-group {
  height: 414px;
  position: relative;
  width: 623px;
}

.rectangle-2 {
  background-color: black;
  cursor: pointer;
  height: 336px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 613px;
}

.view-past-feedback {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 551px;
}

.clipart14746-1 {
  height: 194px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 149px;
  width: 187px;
}

.clipart644289-1 {
  height: 181px;
  left: 331px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 177px;
}
.inter-normal-white-30px {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  cursor: pointer;

  color: #FFFFFF;
}

/* landing page */
.container-center-horizontal2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal2 > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.landing-page {
  align-items: flex-start;
  background-color: var(--blueberry);
  display: flex;
  width: 1440px;
}

.emotions-2 {
  height: 900px;
  margin-left: 20px;
  mix-blend-mode: soft-light;
  width: 160px;
}

.overlap-group2 {
  height: 900px;
  margin-top: 0;
  position: relative;
  width: 1260px;
}

.frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 612px;
  position: absolute;
  top: 90px;
  width: 1080px;
}

.frame-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 452px;
  position: relative;
  width: 1080px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 310px;
  margin-top: -49px;
  min-width: 859px;
}

.flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 261px;
  width: 506px;
}

.lights {
  letter-spacing: 0;
  min-height: 121px;
}

.camera {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 19px;
  min-height: 121px;
  min-width: 396px;
}

.vid-1 {
  height: 293px;
  mix-blend-mode: soft-light;
  object-fit: cover;
  width: 353px;
}

.overlap-group-container2 {
  align-items: flex-start;
  display: flex;
  margin-top: 42px;
  min-width: 1080px;
}

.overlap-group1-2 {
  align-items: center;
  background-color: white;
  display: flex;
  height: 118px;
  min-width: 520px;
  padding: 0 68px;
}

.continue-as-guest {
  letter-spacing: 0;
  min-height: 48px;
  min-width: 362px;
}

.overlap-group {
  height: 118px;
  margin-left: 0px;
  position: relative;
  width: 520px;
}
.overlap-group-sec {
  height: 118px;
  margin-left: 30px;
  position: relative;
  width: 520px;
}

.create-account-box {
  background-color: black;
  cursor: pointer;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 520px;
}
.create-account-box2 {
  background-color: white;
  cursor: pointer;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 520px;
}

.sign-in {
  left: 187px;
  letter-spacing: 0;
  position: absolute;
  top: 35px;
}

.emotions-1 {
  height: 900px;
  left: 899px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  width: 361px;
}

.video-image {
  position: absolute;
  width: 569px;
  height: 228px;
  left: 249px;
  top: 261px;
}

.border-1px-black {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
.inter-bold-black-40px {
  color: black;
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
}
.inter-normal-white-30px2 {
  color: white;
  font-family: 'Inter';
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}
.inter-bold-white-40px {
  color: white;
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
}
.inter-bold-white-50px {
  color: white;
  font-family: "Inter";
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
}
.inter-normal-black-100px {
  color: black;
  font-family: "Inter";
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
}
.inter-bold-black-100px {
  color: black;
  font-family: 'Inter';
  font-size: 100px;
  font-weight: 700;
  font-style: normal;
}

.rightSmile{
  position: absolute;
  width: 361px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  mix-blend-mode: soft-light;
}
.smile2{
  position: absolute;
  width: 361px;
  right: 359px;
  top: 0px;
  bottom: 0px;

  mix-blend-mode: soft-light;
}
.smile3{
  position: absolute;
  width: 361px;
  right: 754px;
  top: 0px;
  bottom: 0px;

  mix-blend-mode: soft-light;
}
.smile4{
  position: absolute;
  width: 361px;
  right: 1132px;
  top: 0px;
  bottom: 0px;

  mix-blend-mode: soft-light;
}
.vid{
  position: absolute;
  width: 276px;
  height: 302px;
  left: 534px;
  top: -41px;
}
.plainBox{
  position: absolute;
  width: 1070px;
  height: 471px;
  left: 0px;
  top: 0px;
  background: #C0C0C0;
}
.logo2{
  position: absolute;
  width: 540px;
  height: 191px;
  left: 270px;
  top: 280px;
}

#canvas_output {
  border-style: solid;
  border-width: medium;
  border-color: white;
}

#cam_input {
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin-right: 30px;
}
